.share-font-size{
    font-size: 20px;
}
.share-herader-bg{
    background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%); 
}

.share-bg{
    background-color: rgb(247, 248, 248); 
}

.share-flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.share-box52 {
    padding:1em;/*内側余白*/
    background-color:#fff;/*背景色*/
    box-shadow: 0 0 6px 1px #faccbc, 0 0 6px 1px #faccbc inset;/*ふわりとした影*/
    border-radius: 30px;
}
.share-width{
    width: 300px;
}

/* 高さ90px */
.share-height-90{
    height: 90px;
}
.share-height-70{
    height: 70px;
}
/* フォントサイズ */
.share-fontsize1{
    font-size: 35px;
    border-bottom: 1px solid black;
}
.share-fontsize2{
    font-size: 35px;
    border-bottom: 1px solid black;
}
.share-fontsize3{
    font-size: 20px;
}
/* ーーーーーーーーヘッダーーーーーーーーーー */
.share-heder-icon{
    width: 50px;
    height: 50px;
    box-shadow: 0 0 6px 1px #5ac5d1, 0 0 1px 1px #5ac5d1 inset;
    background-color: #C5C1FF;
    border-radius: 50%;
}
.share-heder-icon img{
    width: 96%;
    height: 96%;
    border-radius: 50%;
}
/* 投稿アイコン */
.share-post-icon{
    width: 80px;
    height: 80px;
    box-shadow: 0 0 6px 1px #5ac5d1, 0 0 1px 1px #5ac5d1 inset;
    background-color: #C5C1FF;
    border-radius: 50%;
}
.share-post-icon img{
    width: 96%;
    height: 96%;
    border-radius: 50%;
}
.share-timeline-post-box{
    width: 90%;
    height: 700px;
    }
.share-post-img{
    width: 100%;
    height: 400px;
}
.share-post-img img{
    height: 100%;
}

.share-post-text{
    font-size: 30px;
    height: 450px;
    border: 1px solid rgb(26, 26, 26);
}
.share-post-text textarea{
    font-size: 25px;
    resize: none;
}
.share-post-img-ban{
    height: 40px;
}
.share-post-img-ban img{
    height: 40px;
}
/* ーーーーーーーープロフィール編集ーーーーーーーー */
.share-profile-wh{
    
    width: 500px;
    height: 120px;
}
.share-profile-width{
    width: 185px;
}
.share-profile-icon{
    width: 80px;
    height: 80px;
    box-shadow: 0 0 6px 1px #5ac5d1, 0 0 1px 1px #5ac5d1 inset;
    background-color: #C5C1FF;
    border-radius: 50%;
}
.share-profile-icon img{
    width: 96%;
    height: 96%;
    border-radius: 50%;
}

/* マイページ */
.share-mypage-top{
    height: 400px;
}

.share-mypage-icon{
    width: 110px;
    height: 110px;
    box-shadow: 0 0 6px 1px #5ac5d1, 0 0 1px 1px #5ac5d1 inset;
    background-color: #C5C1FF;
    border-radius: 50%;
}
.share-mypage-icon img{
    width: 96%;
    height: 96%;
    border-radius: 50%;
}
.share-mypage-top-right{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.share-mypage-box1{
    width: 230px;
    height: 50px;
    margin-bottom: 10px;
}
.share-mypage-margin1{
    margin-bottom: 50px;
}
.share-mypage-filter{
    height: 100px;
}
.share-mypage-box a{
    width: 90px;
    height: 90px;
}
.share-mypage-box img{
    width: 100%;
}
